In [1]:
# Test

import pandas as pd
from sklearn.preprocessing import LabelEncoder

# importing data

df = pd.read_csv('Car details v3.csv')


price = df['selling_price'] * 0.012872

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [2]:
# Dropping data


df.drop(['name', 'seller_type', 'mileage', 'max_power', 'torque','seats'], axis='columns', inplace=True)
df.dropna(inplace=True)

df.head()

   year  selling_price  km_driven    fuel transmission         owner   engine
0  2014         450000     145500  Diesel       Manual   First Owner  1248 CC
1  2014         370000     120000  Diesel       Manual  Second Owner  1498 CC
2  2006         158000     140000  Petrol       Manual   Third Owner  1497 CC
3  2010         225000     127000  Diesel       Manual   First Owner  1396 CC
4  2007         130000     120000  Petrol       Manual   First Owner  1298 CC

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7907 entries, 0 to 8127
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           7907 non-null   int64
 1   selling_price  7907 non-null   int64
 2   km_driven      7907 non-null   int64
 3   fuel           7907 non-null   object
 4   transmission   7907 non-null   object
 5   owner          7907 non-null   object
 6   engine         7907 non-null   object
dtypes: int64(3), object(4)
memory usage: 494.2+ KB

In [4]:
# Data analys


df['transmission'].value_counts()

Manual       6866
Automatic    1041
Name: transmission, dtype: int64

In [5]:
# Label encoding for fuel

label = LabelEncoder()

fuel_lb = pd.DataFrame(label.fit_transform(df.fuel), columns=['fuel'])

# Label encoding for transmission

transmission_lb = pd.DataFrame(label.fit_transform(df.transmission), columns=['transmission'])

# Label encoding for owner

owner_lb = pd.DataFrame(label.fit_transform(df.owner), columns=['owner'])

# Label encoding for engine

engine_lb = pd.DataFrame(label.fit_transform(df.engine), columns=['engine'])

In [6]:
engine_lb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7907 entries, 0 to 7906
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   engine  7907 non-null   int32
dtypes: int32(1)
memory usage: 31.0 KB

In [7]:
# Dropping useless data

df.drop(columns= ['owner', 'transmission', 'engine', 'fuel'], inplace=True)

In [8]:
# Joining datasets

new_df = df.join([fuel_lb, transmission_lb, owner_lb,engine_lb])

new_df.head()

     year  selling_price  km_driven  fuel  transmission  owner  engine
0  2014.0       450000.0   145500.0   1.0           1.0    0.0    13.0
1  2014.0       370000.0   120000.0   1.0           1.0    2.0    36.0
2  2006.0       158000.0   140000.0   3.0           1.0    4.0    35.0
3  2010.0       225000.0   127000.0   1.0           1.0    0.0    24.0
4  2007.0       130000.0   120000.0   3.0           1.0    0.0    14.0

In [10]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7907 entries, 0 to 8127
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           7907 non-null   float64
 1   selling_price  7907 non-null   float64
 2   km_driven      7907 non-null   float64
 3   fuel           7690 non-null   float64
 4   transmission   7690 non-null   float64
 5   owner          7690 non-null   float64
 6   engine         7690 non-null   float64
dtypes: float64(7)
memory usage: 752.2 KB

In [11]:
# Creating a model


new_df.reset_index(drop=True, inplace=True)
new_df.dropna(inplace=True)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7690 entries, 0 to 7689
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           7690 non-null   float64
 1   selling_price  7690 non-null   float64
 2   km_driven      7690 non-null   float64
 3   fuel           7690 non-null   float64
 4   transmission   7690 non-null   float64
 5   owner          7690 non-null   float64
 6   engine         7690 non-null   float64
dtypes: float64(7)
memory usage: 480.6 KB

In [12]:
price = new_df['selling_price']
price.info()

<class 'pandas.core.series.Series'>
Int64Index: 7690 entries, 0 to 7689
Series name: selling_price
Non-Null Count  Dtype
--------------  -----
7690 non-null   float64
dtypes: float64(1)
memory usage: 120.2 KB